// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html body div table tbody tr th {
  padding: 10px 5px;
}
html body div table tbody tr td {
  padding: 10px 5px;
}
#test_form .hidden_f{
  display: none;
}