.header.navbar.navbar-inverse.navbar-fixed-top
  .header-inner
    %a.text-center.navbar-brand{href: root_path,:style => 'line-height:15px;'} Auto.com
    -#%form.navbar-form.navbar-left{style:'margin-left: 250px;'}
    -#  %input.form-control.col-lg-8.search_query{type: 'text', placeholder:'Поиск по номерам'}
    %ul.nav.navbar-nav.pull-right
      %li
        -if current_user
          %a.username{href: "javascript:;"}
            = current_user.email
          %i.icon-angle-down
          %li
            %a#trigger_fullscreen{href: "javascript:;"}
              %i.fa.fa-arrows-alt
              Full Screen
          %li
            = link_to destroy_user_session_path, :method => :delete    do
              %i.icon-key
              Выйти
        -else
          %li
            =link_to 'Войти', new_user_session_path
          %li
            =link_to 'Зарегится', new_user_registration_path